@import "tailwindcss";
@plugin "flyonui"{
    themes: all;
}
@plugin "@iconify/tailwind4";
@import "./node_modules/flyonui/variants.css"; /* Require only if you want to use FlyonUI JS component */

@source "./node_modules/flyonui/dist/index.js";
