@import "tailwindcss";

/* daisyUI v5+ (Tailwind v4 compatible) */
@plugin "daisyui" {
  themes: all;
}

/* FlyonUI */
@plugin "flyonui" {
  themes: all;
}
@plugin "@iconify/tailwind4";

/* Required for FlyonUI interactive components */
@source "../node_modules/flyonui/dist/js/*.js"; 
