.taber{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 0.5em;
  background: #666 padding-box, #444 border-box;
}
input[type="radio"]{
  margin: 0;
  appearance: none;
}
.tab{
  padding: 0.5em;
  background: #111;
  color: #fff;
  border-radius: 0.5em;
  corner-shape: squircle;
}
.tab:active{
  border-width: 0 0 0.5em 0;
  border-color: transparent transparent #0fe transparent;
}
.glass-bg{
  background: linear-gradient(hsla(0,0,100,0.9) 0%,hsla(0,0,0,0) 10%,hsla(0,0,0,0) 95%,hsla(0,0,100,0.8) 100%) padding-box !important;
  backdrop-filter: blur(10px);
}

